<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js" defer></script>
  <title>Home</title>
</head>

<body>
  <div class="app-container">
    <h1 class="app__title">Todo List</h1>
    <form class="form">
      <div class="form__input-wrapper">
        <input type="text" class="form__input-text input__title" placeholder="Input title">
      </div>
      <div class="form__input-wrapper">
        <input type="text" class="form__input-text input__description" placeholder="Input description">
      </div>
      <p class="error__title-description"></p>
      <div class="form__input-wrapper">
        <input type="checkbox" class="form__input-checkbox input__checkbox"> <span>completed</span>
      </div>
      <button class="btn__submit">Submit</button>
      <button class="btn__submit-by-edit">Edit</button>
    </form>
    <div class="todo__list">
    </div>
  </div>
</body>

</html>